<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto pt-20">
  <div class="w-full px-4 md:px-6 text-xl text-white leading-normal">
    <!--Title-->
    <div class="font-sans">
      <p class="text-base md:text-sm text-red-500 font-bold">&lt; <a
        class="text-base md:text-sm text-red-500 font-bold no-underline hover:underline"
        routerLink="/blog">
        RETOUR AU BLOG
      </a>
      </p>
      <h1 class="font-bold font-sans break-normal text-white pt-6 pb-2 text-3xl md:text-4xl">
        La recette de la semaine : la Margherita
      </h1>
      <p class="text-sm md:text-base font-normal text-white">Publié le 8 juin 2022</p>
    </div>
    <div class="py-6">
      <img class="w-full md:w-4/5 z-50 rounded-lg" src="assets/img/blog/blog1.webp">
    </div>
    <p class="py-6">
      👋 Bienvenue sur notre premier article de
      <a class="text-red-500 no-underline hover:underline" routerLink="/blog">blog</a>.
      Nous espérons que nos articles vous plaisent et vous donneront envie de venir déguster nos pizzas
      dans nos restaurants.
    </p>
    <p class="py-6">
      La Margherita est sans aucun doute l'une des pizzas les plus célèbres et les plus appréciées au monde.
      Cette pizza classique a été créée en 1889 à Naples, en Italie, par le pizzaiolo Raffaele Esposito en l'honneur de
      la reine Margherita de Savoie. Cette création a été réalisée lors de la visite de la reine Margherita à Naples,
      accompagnée de son mari, le roi Umberto I.
    </p>
    <p class="py-6">
      La légende veut que la reine ait été lassée des plats de la cour royale et qu'elle ait souhaité goûter une
      spécialité
      locale. Raffaele Esposito a alors été appelé pour créer une pizza spéciale pour la reine. Pour cela, il a choisi
      des
      ingrédients simples : de la tomate, du basilic et de la mozzarella. Ces ingrédients ont été choisis en fonction
      des
      couleurs du drapeau italien : le rouge de la tomate, le blanc de la mozzarella et le vert du basilic.
    </p>
    <p class="py-6">
      La Margherita est rapidement devenue populaire dans toute l'Italie, puis dans le monde entier. Cette pizza est
      appréciée pour sa simplicité et ses ingrédients frais et savoureux. Elle est également considérée comme un symbole
      de l'identité italienne, ainsi qu'un patrimoine culturel immatériel de l'UNESCO depuis 2017.
    </p>
    <p class="py-6">
      Chez PizzaO'Plomo, nous sommes fiers de perpétuer la tradition de la Margherita en utilisant des ingrédients frais
      et de qualité. Nous utilisons de la mozzarella di bufala Campana, une variété de mozzarella fabriquée à partir de
      lait
      de bufflonne, originaire de la région de Campanie en Italie. Nous utilisons également des tomates San Marzano,
      une variété de tomate typique de la région de Campanie, ainsi que du basilic frais.
    </p>
    <blockquote class="border-l-4 border-red-500 italic my-8 pl-8 md:pl-12">
      La Margherita est une pizza classique qui a traversé les siècles sans perdre de son charme. Nous sommes heureux de
      perpétuer cette tradition et de continuer à proposer cette pizza savoureuse à nos clients. Venez la découvrir chez
      PizzaO'Plomo !
    </blockquote>
  </div>

  <div class="text-base md:text-sm text-gray-500 px-4 py-6">
    Tags: <a class="text-base md:text-sm text-red-500 no-underline hover:underline" href="#">Link</a> . <a
    class="text-base md:text-sm text-red-500 no-underline hover:underline"
    href="#">Link</a>
  </div>

  <hr class="border-b-2 border-gray-400 mb-8 mx-4">

  <app-newsletter></app-newsletter>

  <div class="flex w-full items-center font-sans px-4 py-12">
    <img alt="Avatar of Author" class="w-10 h-10 rounded-full mr-4" src="http://i.pravatar.cc/300">
    <div class="flex-1 px-2">
      <p class="text-white text-base font-bold text-base md:text-xl leading-none mb-2">Jo Bloggerson</p>
      <p class="text-gray-600 text-xs md:text-base">Chef Pizzaïolo chez <a
        class="text-red-500 no-underline hover:underline"
        routerLink="">PizzaO'Plomo</a></p>
    </div>
    <div class="justify-end">
      <button
        class="bg-transparent border border-gray-500 hover:border-red-500 text-xs text-gray-500 hover:text-red-500 font-bold py-2 px-4 rounded-full">
        En savoir plus
      </button>
    </div>
  </div>
</div>
