<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <h1 class="text-4xl font-extrabold text-white sm:text-5xl sm:tracking-tight lg:text-6xl">Sélectionnez votre
    restaurant</h1>
  <div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
    <div *ngFor="let restaurant of restaurantService.restaurants"
         class="flex flex-col rounded-lg shadow-lg overflow-hidden">
      <div class="flex-shrink-0">
        <img alt="Restaurant"
             class="h-48 w-full object-cover"
             src="{{ restaurant.image }}">
      </div>
      <div class="flex-1 bg-white p-6 flex flex-col justify-between">
        <div class="flex-1">
          <p class="text-sm font-medium text-red-600">
            <a class="hover:underline" href="/card?city={{ restaurant.name }}">
              {{ restaurant.name }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
