<app-customernav>

  <div class="flex-1 p-8">
    <h2 class="text-3xl font-bold mb-4">Options de votre compte</h2>

    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
        <div class="bg-white rounded-lg shadow p-4 h-full">
          <h3 class="text-xl font-bold mb-2">Informations personnelles</h3>
          <p class="text-gray-600">Gérez vos informations personnelles.</p>
          <a class="text-blue-500" href="#">Modifier</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
        <div class="bg-white rounded-lg shadow p-4 h-full">
          <h3 class="text-xl font-bold mb-2">Mot de passe</h3>
          <p class="text-gray-600">Gérez votre mot de passe.</p>
          <a class="text-blue-500" href="#">Modifier</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
        <div class="bg-white rounded-lg shadow p-4 h-full">
          <h3 class="text-xl font-bold mb-2">Adresse de livraison</h3>
          <p class="text-gray-600">Gérez votre adresse de livraison.</p>
          <a class="text-blue-500" href="#">Modifier</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
        <div class="bg-white rounded-lg shadow p-4 h-full">
          <h3 class="text-xl font-bold mb-2">Adresse de facturation</h3>
          <p class="text-gray-600">Gérez votre adresse de facturation.</p>
          <a class="text-blue-500" href="#">Modifier</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
        <div class="bg-white rounded-lg shadow p-4 h-full">
          <h3 class="text-xl font-bold mb-2">Historique des commandes</h3>
          <p class="text-gray-600">Gérez votre historique des commandes.</p>
          <a class="text-blue-500" href="#">Modifier</a>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
        <div class="bg-white rounded-lg shadow p-4 h-full">
          <h3 class="text-xl font-bold mb-2">Historique des paiements</h3>
          <p class="text-gray-600">Gérez votre historique des paiements.</p>
          <a class="text-blue-500" href="#">Modifier</a>
        </div>
      </div>
    </div>
  </div>

</app-customernav>
