<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto pt-20">
  <div class="w-full px-4 md:px-6 text-xl text-white leading-normal">
    <!--Title-->
    <div class="font-sans">
      <p class="text-base md:text-sm text-red-500 font-bold">&lt; <a
        class="text-base md:text-sm text-red-500 font-bold no-underline hover:underline"
        routerLink="/blog">
        RETOUR AU BLOG
      </a>
      </p>
      <h1 class="font-bold font-sans break-normal text-white pt-6 pb-2 text-3xl md:text-4xl">
        Les nouvelles saveurs de l'été
      </h1>
      <p class="text-sm md:text-base font-normal text-white">Publié le 15 juin 2022</p>
    </div>
    <div class="py-6">
      <img class="w-full md:w-4/5 z-50 rounded-lg" src="assets/img/blog/blog2.webp">
    </div>
    <p class="py-6">
      👋 Bienvenue sur notre second article de
      <a class="text-red-500 no-underline hover:underline" routerLink="/blog">blog</a>.
      Nous espérons que nos articles vous plaisent et vous donneront envie de venir déguster nos pizzas
      dans nos restaurants.
    </p>
    <p class="py-6">
      L'été est une saison de plaisir et de découvertes culinaires. Chez PizzaO'Plomo, nous sommes fiers de vous présenter
      les nouvelles saveurs estivales de notre pizzeria gastronomique. Nos chefs ont travaillé dur pour créer des plats
      frais et innovants qui sauront satisfaire les papilles gustatives de nos clients les plus exigeants. Voici donc
      un aperçu des nouvelles saveurs que nous proposons cet été.
    </p>

    <h1 class="py-2 font-sans underline">La pizza aux fruits de mer:</h1>
    <p class="py-6">
      Notre nouvelle pizza aux fruits de mer est un délicieux mélange de fruits de mer frais, d'ail, de tomates cerises
      et d'herbes méditerranéennes. Nous utilisons des fruits de mer de qualité supérieure pour créer une pizza qui
      évoque les saveurs de la mer. Cette pizza est légère, fraîche et parfaite pour les chaudes journées d'été.
    </p>

    <h1 class="py-2 font-sans underline">La pizza au pesto de basilic:</h1>
    <p class="py-6">
      Notre nouvelle pizza au pesto de basilic est une ode à la cuisine italienne traditionnelle.
      Nous utilisons une sauce pesto maison faite à partir de basilic frais, d'ail, de noix de pin et de fromage
      parmesan pour créer une pizza savoureuse et parfumée. Nous ajoutons ensuite des tomates cerises,
      des olives noires et du jambon de Parme pour une touche de fraîcheur.
    </p>

    <h1 class="py-2 font-sans underline">La pizza à la truffe noire:</h1>
    <p class="py-6">
      Notre nouvelle pizza à la truffe noire est un plat sophistiqué et raffiné. Nous utilisons de la truffe noire
      fraîche, de la crème fraîche, de l'ail et du fromage parmesan pour créer une pizza riche et savoureuse.
      Nous ajoutons ensuite du jambon de Parme pour une touche de salinité.
    </p>
    <blockquote class="border-l-4 border-red-500 italic my-8 pl-8 md:pl-12">
      Nous choisissions les meilleurs ingrédients car nous croyons que la qualité de nos ingrédients est
      essentielle pour offrir une expérience culinaire exceptionnelle à nos clients.
    </blockquote>
  </div>

  <div class="text-base md:text-sm text-gray-500 px-4 py-6">
    Tags: <a class="text-base md:text-sm text-red-500 no-underline hover:underline" href="#">Link</a> . <a
    class="text-base md:text-sm text-red-500 no-underline hover:underline"
    href="#">Link</a>
  </div>

  <hr class="border-b-2 border-gray-400 mb-8 mx-4">

  <app-newsletter></app-newsletter>

  <div class="flex w-full items-center font-sans px-4 py-12">
    <img alt="Avatar of Author" class="w-10 h-10 rounded-full mr-4" src="http://i.pravatar.cc/300">
    <div class="flex-1 px-2">
      <p class="text-white text-base font-bold text-base md:text-xl leading-none mb-2">Jo Bloggerson</p>
      <p class="text-gray-600 text-xs md:text-base">Chef Pizzaïolo chez <a
        class="text-red-500 no-underline hover:underline"
        routerLink="">PizzaO'Plomo</a></p>
    </div>
    <div class="justify-end">
      <button
        class="bg-transparent border border-gray-500 hover:border-red-500 text-xs text-gray-500 hover:text-red-500 font-bold py-2 px-4 rounded-full">
        En savoir plus
      </button>
    </div>
  </div>
</div>
