<h2 class="font-bold mt-6">
  Entrée
</h2>
<ul class="text-gray-500">
  <li *ngIf="showedMenu != 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>
  <li *ngIf="showedMenu != 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>
  <!-- Bambino -->
  <li *ngIf="showedMenu == 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>
</ul>
<h2 class="font-bold mt-6">
  Plat
</h2>
<ul class="text-gray-500">
  <li *ngIf="showedMenu != 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>
  <li *ngIf="showedMenu != 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>

  <!-- Bambino -->
  <li *ngIf="showedMenu == 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>
</ul>
<h2 class="font-bold mt-6">
  Dessert
</h2>
<ul class="text-gray-500">
  <li *ngIf="showedMenu != 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>
  <li *ngIf="showedMenu != 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>

  <!-- Bambino -->
  <li *ngIf="showedMenu == 3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
  </li>
</ul>
