<section class="main-background h-96"></section>

<main class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
  <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl text-center">Bienvenue chez
    Pizza'O'Plomo</h1>
  <p class="mt-4 max-w-2xl text-xl text-gray-400 mb-12">Nous sommes fiers de vous proposer notre sélection de pizzas
    artisanales, préparées avec des ingrédients frais et de qualité. Chaque pizza est cuite à la perfection dans notre
    four à bois traditionnel.</p>
  <h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl">
    Découvrez notre sélection de pizzas artisanales
  </h2>
  <p class="mt-4 max-w-2xl text-xl text-gray-400">
    Nous préparons nos pizzas avec des ingrédients frais et de qualité. Chaque pizza est cuite à la perfection dans
    notre four à bois traditionnel.
  </p>
  <div class="mt-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <img alt="Pizza Margherita" class="w-full h-48 object-cover" src="assets/img/pizza/Margherita.webp">
        <div class="p-6">
          <h3 class="font-bold text-gray-800 text-xl mb-2">Pizza Margherita</h3>
          <p class="text-gray-600 text-base">Sauce tomate, mozzarella, basilic</p>
          <div class="mt-4">
            <span class="text-gray-800 font-bold text-lg">12.99€</span>
            <button class="ml-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
                    routerLink="card">Commander
            </button>
          </div>
        </div>
      </div>
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <img alt="Pizza Pepperoni" class="w-full h-48 object-cover" src="assets/img/pizza/Pepperoni.jpg">
        <div class="p-6">
          <h3 class="font-bold text-gray-800 text-xl mb-2">Pizza Pepperoni</h3>
          <p class="text-gray-600 text-base">Sauce tomate, mozzarella, pepperoni</p>
          <div class="mt-4">
            <span class="text-gray-800 font-bold text-lg">14.99€</span>
            <button class="ml-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
                    routerLink="card">Commander
            </button>
          </div>
        </div>
      </div>
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <img alt="Pizza Végétarienne" class="w-full h-48 object-cover" src="assets/img/pizza/Vegetarienne.jpg">
        <div class="p-6">
          <h3 class="font-bold text-gray-800 text-xl mb-2">Pizza Végétarienne</h3>
          <p class="text-gray-600 text-base">Sauce tomate, mozzarella, légumes frais</p>
          <div class="mt-4">
            <span class="text-gray-800 font-bold text-lg">16.99€</span>
            <button class="ml-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
                    routerLink="card">Commander
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-16">
    <h3 class="text-2xl font-extrabold text-white sm:text-3xl">Nos spécialités</h3>
    <p class="mt-4 max-w-2xl text-xl text-gray-400">
      En plus de nos pizzas classiques, nous proposons également des spécialités maison, comme notre fameuse pizza à la
      truffe.
    </p>
    <div class="mt-10">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white shadow rounded-lg overflow-hidden">
          <img alt="Pizza à la Truffe" class="w-full h-48 object-cover" src="assets/img/pizza/Truffe.jpg">
          <div class="p-6">
            <h3 class="font-bold text-gray-800 text-xl mb-2">Pizza à la Truffe</h3>
            <p class="text-gray-600 text-base">Crème fraîche, mozzarella, champignons, huile de truffe, copeaux de
              parmesan</p>
            <div class="mt-4">
              <span class="text-gray-800 font-bold text-lg">19.99€</span>
              <button class="ml-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
                      routerLink="card">Commander
              </button>
            </div>
          </div>
        </div>
        <div class="bg-white shadow rounded-lg overflow-hidden">
          <img alt="Pizza Calzone" class="w-full h-48 object-cover" src="assets/img/pizza/Calzone.webp">
          <div class="p-6">
            <h3 class="font-bold text-gray-800 text-xl mb-2">Pizza Calzone</h3>
            <p class="text-gray-600 text-base">Sauce tomate, mozzarella, jambon, champignons, œuf</p>
            <div class="mt-4">
              <span class="text-gray-800 font-bold text-lg">17.99€</span>
              <button class="ml-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
                      routerLink="card">Commander
              </button>
            </div>
          </div>
        </div>
        <div class="bg-white shadow rounded-lg overflow-hidden">
          <img alt="Pizza Quatre Saisons" class="w-full h-48 object-cover" src="assets/img/pizza/4saisons.webp">
          <div class="p-6">
            <h3 class="font-bold text-gray-800 text-xl mb-2">Pizza Quatre Saisons</h3>
            <p class="text-gray-600 text-base">Sauce tomate, mozzarella, champignons, artichauts, jambon, olives,
              origan</p>
            <div class="mt-4">
              <span class="text-gray-800 font-bold text-lg">18.99€</span>
              <button class="ml-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
                      routerLink="card">Commander
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
